

--Audit Trail Info


SELECT DISTINCT 
at.ModuleID, ddt.TableName AS ModuleName, at.TableName, at.ColumnName 
FROM AuditTrail AS at
LEFT OUTER JOIN DDModules AS ddm ON at.ModuleID = ddm.ModuleID
LEFT OUTER JOIN DDTables AS ddt on ddm.MainTableID = ddt.TableID
WHERE	ddm.ModuleID IN (0,1,2)										--"System", Objects,  Constituents
AND		at.TableName IS NOT NULL
AND		at.ColumnName IS NOT NULL
AND		at.ObjectID = 110421
ORDER BY at.ModuleID, ddt.TableName, at.TableName, at.ColumnName 




SELECT 
o.ObjectNumber, at.ObjectID, at.AuditTrailID, at.ModuleID, ddt.TableName AS ModuleName, at.TableName, at.ColumnName,
at.OldValue, at.NewValue, at.Explanation, at.EnteredDate, at.LoginID, at.Approvals
FROM AuditTrail AS at
LEFT OUTER JOIN DDModules AS ddm ON at.ModuleID = ddm.ModuleID
LEFT OUTER JOIN DDTables AS ddt on ddm.MainTableID = ddt.TableID
LEFT OUTER JOIN Objects AS o ON at.ObjectID = o.ObjectID
WHERE	ddm.ModuleID IN (0,1,2)										--"System", Objects,  Constituents
AND		at.TableName IS NOT NULL
AND		at.ColumnName IN ('Accountability','CuratorApproved') --NOT NULL
AND		at.ObjectID IN
(
111778,
113783,
120994,
123301,
6827,
117153,
124058,
124061,
124062,
124063,
102198
)
ORDER BY at.ModuleID, ddt.TableName, at.TableName, at.ColumnName, at.EnteredDate


-----------------------  11/20/2015	--------------------------------------------------------------------------------------------

	SELECT DISTINCT at.*,
	at.ObjectID		, at.EnteredDate
	FROM AuditTrail AS at 
	WHERE 

	at.GSRowVersion > (SELECT MAX(MFAH_DBTS) FROM MFAHt_DBTS)
	--AND at.ModuleID = 1
	AND at.AuditTrailID NOT IN (7,8)



SELECT DISTINCT
TableName,
ColumnName
FROM AuditTrail
WHERE ModuleID = 1
AND TableName IS NOT NULL
ORDER BY 
TableName,
ColumnName