SELECT DISTINCT 
a0108.ObjectID, 
a0108.ObjectNumber, 
a0108.DepartmentID 
SecurityCategoryID, 
a0108.SortNumber 

FROM [TMS]..Objects a0108
INNER JOIN [TMS]..UserFieldXrefs	a0108a0136		ON a0108.ObjectID = a0108a0136.ID
INNER JOIN [TMS]..UserFields		a0108a0136a0176 ON a0108a0136.UserFieldID = a0108a0136a0176.UserFieldID
WHERE 
(
	(a0108.ObjectID > -1 AND 
		(a0108a0136a0176.UserFieldName = 'Culture (broad)' AND a0108a0136.ContextID = 9)
	 AND a0108.IsVirtual = 0) 

AND a0108.IsTemplate = 0 AND a0108a0136.ContextID = 1)

ORDER BY a0108.SortNumber ASC




SELECT DISTINCT a0108.ObjectID, a0108.ObjectNumber, a0108.DepartmentID SecurityCategoryID, a0108.SortNumber 
FROM [TMS]..Objects a0108
INNER JOIN [TMS]..UserFieldXrefs a0108a0136 ON a0108.ObjectID = a0108a0136.ID
WHERE ((a0108.ObjectID > -1 AND (a0108a0136.FieldValue = '[FieldName = Area;FieldID = 97;Operator = Equals;Value = ''Antiquities'';GroupName = Culture]') AND a0108.IsVirtual = 0) AND a0108.IsTemplate = 0 AND a0108a0136.ContextID = 1)
ORDER BY a0108.SortNumber ASC


--Query Groups

 
SELECT * FROM DDQueryGroups WHERE QueryGroupID IN (0,10) 


--Query Group Column Xrefs

SELECT TOP 1000 [QueryGroupID]
      ,[HierarchyID]
      ,[ColumnID]
      ,[LoginID]
      ,[EnteredDate]
      ,[SysTimeStamp]
  FROM [TMS].[dbo].[DDQGColXrefs]
  WHERE ColumnID IN (1900,1899,1907,1905,4771,1588)
  
  --ColumnID 4771 - FieldValue
  --ColumnID 1900 - UserFieldName
  --ColumnID 1907 - UserFieldValue is not here
 
 --I think this makes sense because UserFieldValue is not in the list of Available Hierarchies
 
 
 
SELECT * FROM DDQGColXrefs WHERE QueryGroupID IN (99,387)  OR ColumnID IN (1588,4771,1907,1900,1591)
 
 -- Joins 

SELECT TOP 1000 [JoinID]
      ,[ParentTableID]
      ,[ChildTableID]
      ,[ParentColumnID]
      ,[ChildColumnID]
  FROM [TMS].[dbo].[DDJoins]
  
  WHERE ParentTableID IN (176,177,136)
  OR ChildTableID IN (176,177,136)
  
  -- 177 not in DDJoins (UserFieldValue)


--Hierarchy
  
    
  SELECT * FROM DDHierarchy WHERE TableID  IN (176,177,136,99,387) OR HierarchyID = 387 ORDER BY TableID DESC
  --TableID 177 (UserFieldValue) NOT IN this table

--HierarchyID 387 HierarchyRoot = a0108a0136, TableID = 176 = UserFieldName
--HierarchyID 99 = HierarchyRoot a0108, TableID = 136 = FieldValue


SELECT * FROM QueryDetails WHERE QueryGroupID IN (0,10) AND LoginID IN ('daylsworth','dthompson')


SELECT * FROM QueryDetails WHERE ColumnID IN (1907,1900)


SELECT * FROM DDColVTableXrefs -- ONLY 1 record



SELECT * FROM UserFields WHERE UserFieldID IN (97,98,99)

SELECT * FROM UserFieldValueAuthority WHERE UserFieldID IN (97,98,99)

SELECT * FROM UserFieldXrefs WHERE UserFieldID = 97
--ContextID = 1




/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [TableID]
      ,[PhysTableID]
      ,[SysObjectsID]
      ,[TableName]
      ,[Alias]
      ,[PKColumnName]
--      ,[IsAuthorityTable]
      ,[MainDataColName]
      ,[ModuleType]
      ,[XRefModuleType]
--      ,[DatabaseID]
--      ,[AttribTMID]
--      ,[GeoTMID]
--      ,[StatusTMID]
--      ,[LocationTMID]
--      ,[IsDataDict]
      ,[PKColumnID]
      ,[MainDataColumnID]
--      ,[HasModifiedDate]
--      ,[MaintainNulls]
  FROM [TMS].[dbo].[DDTables]
  WHERE TableName LIKE '%User%'
  OR TableName LIKE '%Context%'
  OR MainDataColName LIKE '%User%'
  OR MainDataColName LIKE '%Context%'
  OR MainDataColumnID IN (1588,4771,1907,1900,1591)
  OR PKColumnID IN (1588,4771,1907,1900,1591)
  OR TableID IN (176,177,136,99,108,387)
  ORDER BY MainDataColumnID
  
  
  --SELECT * FROM DDTables WHERE TableID IN (176,177,136)
  
  
  
  SELECT * FROM DDColumns WHERE PhysTableID IN (176,136)