


/****** 

				Add Objects to Object Package

******/

SELECT TOP 10 * FROM Packages ORDER BY PackageID DESC --14829 = WorksOnPaper_PhotographyProject


SELECT [PackageListID]
      ,[PackageID]
      ,[ID]
      ,[MainData]
      ,[OrderPos]
      ,[LoginID]
      ,[EnteredDate]
      ,[SysTimeStamp]
      ,[Notes]
      ,[TableID]
  FROM [TMS].[dbo].[PackageList]
  WHERE PackageID = 14829
ORDER BY MainData

/*  
  INSERT INTO PackageList (PackageID,ID,MainData,OrderPOS,EnteredDate,TableID)
  VALUES
(14276,794,'66.8',0,GETDATE(),108),
(14276,964,'70.19',1,GETDATE(),108)
*/





--INSERT INTO PackageList (PackageID,ID,MainData,OrderPOS,EnteredDate,Notes,TableID)
-- (30625 row(s) affected)
-- 10/3/2013
SELECT
14829,
o.ObjectID,
o.ObjectNumber,
ROW_NUMBER() OVER( ORDER BY o.ObjectID ) AS 'RowNumber',
GETDATE(),
'SSR3,SSR7,SSR8,SSR9, no publication quality image, no color transparency',
108

FROM [Objects]	AS o																		--65188
LEFT OUTER JOIN ObjComponents	AS	oc	ON	o.ObjectID			= oc.ObjectID
										AND	o.ObjectNumber		= oc.ComponentNumber
LEFT OUTER JOIN Departments		AS	d	ON	o.DepartmentID		= d.DepartmentID
LEFT OUTER JOIN Classifications	AS	cl	ON	o.ClassificationID	= cl.ClassificationID		--65188

LEFT OUTER JOIN ConXrefs		AS	cx	ON	o.ObjectID			= cx.ID						--65188
										AND	cx.TableID			= 108						--Objects
										AND	cx.RoleTypeID		= 1							--Object-Related Constituent
										AND cx.DisplayOrder		= 1							--First Constituent (Artist)
LEFT OUTER JOIN ConXrefDetails	AS	cxd	ON	cx.ConXrefID		= cxd.ConXrefID				--65188
										AND	cxd.Unmasked		= 1							--Don't really understand this one.
LEFT OUTER JOIN Constituents	AS	c	ON	cxd.ConstituentID	= c.ConstituentID			--65188
LEFT OUTER JOIN ObjCurLocView	AS	ocl ON	oc.ObjectID			= ocl.ObjectID
										AND	oc.ComponentID		= ocl.ComponentID
LEFT OUTER JOIN
(
	SELECT DISTINCT		--114777
	o.ObjectID,
	--Is there a Publication Quality Image available?
	CASE WHEN 
	SUM(
		CASE WHEN mm.PublicCaption LIKE '%ublica%' THEN 1 ELSE
		CASE WHEN mm.PublicCaption NOT LIKE '%ublica%' THEN 0 ELSE
		CASE WHEN mm.PublicCaption IS NULL THEN 0 ELSE 0 END END END 
		) 
	= 0 THEN 'N' ELSE 'Y' END AS HasPubQualityImage,
		
	--Is there a Color Transparency available?
		CASE WHEN
	SUM(
		CASE WHEN mr.MediaTypeID = 28 THEN 1 ELSE
		CASE WHEN mr.MediaTypeID != 28 THEN 0 ELSE
		CASE WHEN mr.MediaTypeID IS NULL THEN 0 ELSE 0 END END END 
		)
	= 0 THEN 'N' ELSE 'Y' END AS HasColorTransparency
		
	FROM			[Objects]		AS o 
	LEFT OUTER JOIN MediaXrefs		AS mx	ON	o.ObjectID			= mx.ID
											AND mx.TableID			= 108
	LEFT OUTER JOIN MediaRenditions	AS mr	ON	mx.MediaMasterID	= mr.MediaMasterID
	LEFT OUTER JOIN MediaTypes		AS mt	ON	mr.MediaTypeID		= mt.MediaTypeID
	LEFT OUTER JOIN MediaMaster		AS mm	ON	mx.MediaMasterID	= mm.MediaMasterID

	GROUP BY o.ObjectID
) AS ms ON o.ObjectID = ms.ObjectID

WHERE	o.ObjectStatusID	= 2
AND		ocl.CurRoom IN ('SSR 3','SSR 7','SSR 8','SSR 9')
AND		ms.HasPubQualityImage = 'N'
AND		ms.HasColorTransparency = 'N'
