
--Modules

SELECT  
1 AS HierarchyLevel,
sghx.SecurityGroupID,
sg.SecurityGroup,
m.ModuleID,
m.MainTableID,
mt.TableName AS Module,
lmn.ModuleLabel,
sghx.HierarchyID,
lhn.HierarchyLabel,
h.TableID,
h.HierarchyRoot,
h.HierarchyID AS ParentID,
t.TableName AS [Table],
ltn.TableLabel,
sghx.Addable,
sghx.Deletable,
sghx.Editable,
sghx.Viewable,
h.ShowInHierView

FROM SecGrpHierXref AS sghx			--1,944,045 records
LEFT OUTER JOIN SecurityGroups AS sg ON sghx.SecurityGroupID = sg.SecurityGroupID
LEFT OUTER JOIN DDHierarchy AS h ON sghx.HierarchyID = h.HierarchyID
LEFT OUTER JOIN DDLocalHierNames AS lhn ON h.HierarchyID = lhn.HierarchyID
LEFT OUTER JOIN DDTables AS t ON h.TableID = t.TableID
LEFT OUTER JOIN	DDLocalTableNames AS ltn ON t.TableID = ltn.TableID
LEFT OUTER JOIN DDModules AS m ON t.ModuleType = m.ModuleID
LEFT OUTER JOIN DDLocalModuleNames AS lmn ON m.ModuleID = lmn.ModuleID
LEFT OUTER JOIN DDTables AS mt ON m.MainTableID = mt.TableID


WHERE 
sghx.SecurityGroupID = 39

AND (lmn.LanguageID = 1 OR lmn.LanguageID IS NULL)
AND (lhn.LanguageID = 1 OR lhn.LanguageID IS NULL)
AND (ltn.LanguageID = 1 OR ltn.LanguageID IS NULL)
AND m.ModuleID IS NOT NULL
AND h.ParentID IS NULL
--AND h.HierarchyID IN (94,1195)

--ORDER BY
--ltn.TableLabel,
--h.HierarchyRoot

------------------------------------

UNION


--Tables

SELECT  
2 AS HierarchyLevel,
sghx.SecurityGroupID,
sg.SecurityGroup,
m.ModuleID,
m.MainTableID,
mt.TableName AS Module,
lmn.ModuleLabel,
sghx.HierarchyID,
lhn.HierarchyLabel,
h.TableID,
h.HierarchyRoot,
h.ParentID,
t.TableName AS [Table],
ltn.TableLabel,
sghx.Addable,
sghx.Deletable,
sghx.Editable,
sghx.Viewable,
h.ShowInHierView

FROM SecGrpHierXref AS sghx			--1,944,045 records
LEFT OUTER JOIN SecurityGroups AS sg ON sghx.SecurityGroupID = sg.SecurityGroupID
LEFT OUTER JOIN DDHierarchy AS h ON sghx.HierarchyID = h.HierarchyID
LEFT OUTER JOIN DDLocalHierNames AS lhn ON h.HierarchyID = lhn.HierarchyID
LEFT OUTER JOIN DDTables AS t ON h.TableID = t.TableID
LEFT OUTER JOIN	DDLocalTableNames AS ltn ON t.TableID = ltn.TableID
LEFT OUTER JOIN DDModules AS m ON t.ModuleType = m.ModuleID
LEFT OUTER JOIN DDLocalModuleNames AS lmn ON m.ModuleID = lmn.ModuleID
LEFT OUTER JOIN DDTables AS mt ON m.MainTableID = mt.TableID



WHERE 
sghx.SecurityGroupID = 39

AND (lmn.LanguageID = 1 OR lmn.LanguageID IS NULL)
AND (lhn.LanguageID = 1 OR lhn.LanguageID IS NULL)
AND (ltn.LanguageID = 1 OR ltn.LanguageID IS NULL)
AND h.ParentID IN
	(SELECT HierarchyID FROM DDHierarchy WHERE ParentID IS NULL)


--AND h.HierarchyRoot != ''
--AND h.HierarchyID IN (1195)

--ORDER BY
--h.HierarchyRoot,
--ltn.TableLabel


